*{
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 120, 155);
    font-family: monospace;
    font-size: 15px;
}

section{
    background-color: white;
    border-radius: 10px;
    padding:10px;
    width: 40%;
    margin: auto;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.685);
}
h1,footer{
    color:white;
}

article,h1,footer{
    text-align: center;
}

article #num{
    width: 15%;
}

div{
    display:flex;
    flex-direction: column;
    align-items: center;
}

div input{
    width:50px;
    margin-top:15px;
    margin-bottom:15px;
}

select{
    width:150px;
}